body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;

}

input {
    display: inline;
    border: 2px solid grey;
    margin: 3px;
    height: 40px;
}

textarea {
    border: 2px solid grey;
}

.btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}




table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.btn-success {
    background-color: red;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}